body {
    overflow: hidden;
}

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.video-wrapper {
    border: 2px solid #000;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#connectionForm{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#formScreen{
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid white;
    height: 440px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    backdrop-filter: blur(20px);
}

input[type="password"], input[type="text"]{
    width: 370px;
    height: 40px;
    margin: 14px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid black;
    color: white;
    font-size: 16px;
    caret-color: rgb(70, 68, 68);
}

input::placeholder{
    color: white;
}

.text{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 14px;
}

input[type="submit"]{
    width: 300px;
    height: 40px;
    margin: 10px 14px 14px 14px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 7px;
}

#connection{
    text-align: center;
    margin-top: 10px;
}

a{
    color: black;
    font-weight: bold;
}

button a {
    display: block;
    width: 150px;
    text-align: center;
}