body {
    max-height: 100%;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: no-repeat url("../ressources/Background.jpg");

}

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

video {
   
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
    
}

.input{
    height: 50px;
}

.video-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
      
}

#connectionForm{
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#formScreen{
    margin: auto;
    outline: 2px solid white;
    width: 400px;
    border-radius: 7px;
    backdrop-filter: blur(20px);
    text-align: center;
}

input[type="password"], input[type="text"],input[type="tel"],input[type="date"]{
    width: 370px;
    margin: 14px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid black;
    color: white;
    font-size: 16px;
    caret-color: rgb(70, 68, 68);
}
form{
    
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
input::placeholder{
    color: white;
}

.text{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 14px;
}

input[type="submit"]{
    width: 300px;
    margin: 10px 14px 14px 14px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 7px;
}

#connection{
    text-align: center;
    margin-top: 10px;
}

a{
    color: black;
    font-weight: bold;
}

button a {
    display: block;
    width: 150px;
    text-align: center;
}
.sexe{
   
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.inputSexeContainer{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    align-items: normal;
}
.input>input{
    font-size: 0.8em;
}
.input>p{
    font-size: 0.8em;
}
label{
    color:white;
}
p{
    color:white;
}