body{
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    max-height: 100%;
   overflow-x: hidden;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;   
    
}
.productList{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 99%;
    margin: 0 auto;
    outline: 2px solid black;
    background-color: white;
    transition: transform 0.1s linear;
}
.product:hover{
    transform: scale(1.005);
}
.photo{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 10px 0 10px 10px;
}
.addToCart{
    background-color: #885df1;
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.8);
    width: 250px;
    height: 50px;
    margin: auto;
    margin-right: 10px;
    
}
.addToCart:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    transition: box-shadow 200ms ease-in-out;
    animation: shake 400ms linear;
}
.productList:last-child{
    margin-bottom: 20px;
}
.ToastShow{
    position: absolute;
    bottom: 10%;
    right: 0;
    animation: toast 3s linear;
    background-color: #885df1;
    border: 2px solid black;
    box-shadow: 5px 8px 0px 0px #000000;
    padding:0 5px 0 5px;
    color:white;
    margin-right: 5px;
}

@keyframes toast {
0%{transform: translateX(100%);}
15%{transform: translateX(0);}
55%{transform: translateX(0);}
70%{transform: translateX(100%);}
100%{transform: translateX(100%);}
}
@keyframes shake{
0%{
    transform: translateX(0);
}
25%{
    transform: translateX(10px);
}
50%{
    transform: translateX(0);
}
75%{
    transform: translateX(-10px);
}
100%{
    transform: translateX(0);
}
}